body{
    background-image: url(./elfos.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Rajdhani', sans-serif;
}

h1{
    
    width: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #602145;
    color: #DAEDF1;
    border-radius: 50px;
    text-align: center;
}
button{
    margin-top: 30px;
    font-size: 22px;
    padding: 20px;
    color: #DAEDF1;
    background-color: #602145;
    border-radius: 40px;
    border: 3px solid #626B58;
}

button:hover{
    color: #DAEDF1;
    background-color: #626B58;
} 
