body{
    background-image: url(./pedra.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Rajdhani', sans-serif;
}
h1{
    
    width: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #bbb2b3;
    color: #B76847;
    border-radius: 50px;
    text-align: center;
}
p{
    background-color: #C3C3C3;
    color: #B76847;
    width: 400px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}
.fases{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    
}
button{
    margin-top: 30px;
    font-size: 22px;
    padding: 20px;
    color: #DAEDF1;
    background-color: #B76847;
    border-radius: 40px;
    border: 3px solid #7c4446;
}
button:hover{
    color: #DAEDF1;
    background-color: #70563F;
} 